<div class="jumbotron">
    <h1>DMS基础数据平台</h1>
    <p class="lead">为DMS各大系统提供基础数据支持</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">API 查询</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>终端设备管理</h2>
        <p>维护终端设备硬件信息，配置终端点位。</p>
        <p><a class="btn btn-default" href="/Equipments">点击进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>基础数据管理</h2>
        <p>维护项目部门组织机构，点位信息。</p>
        <p><a class="btn btn-default" href="/Projects">点击进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>用户角色权限管理</h2>
        <p>维护系统平台用户信息，角色分配。</p>
        <p><a class="btn btn-default" href="/Users">点击进入 &raquo;</a></p>
    </div>
</div>
