<div class="jumbotron">
    <h1>DMS基础数据平台</h1>
    <p class="lead">为DMS各大系统提供基础数据支持</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">API 查询</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>基础数据</h2>
        <p>1.项目管理</p>
        <p>2.部门管理</p>
        <p>3.点位管理</p>
        <p><a class="btn btn-default" href="/Projects">点击进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>设备点位</h2>
        <p>1.设备管理</p>
        <p>2.配置设备点位关系</p>
        <p>2.设备点位查询</p>
        <p><a class="btn btn-default" href="/Equipments">点击进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>用户角色权限</h2>
        <p>1.权限菜单</p>
        <p>2.角色管理</p>
        <p>3.用户管理</p>
        <p><a class="btn btn-default" href="/Users">点击进入 &raquo;</a></p>
    </div>
</div>
